#container {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-shrink: 1;
    flex-wrap: wrap;
    scroll-behavior: smooth;
    background-color: aqua;
    height: 512px;
    width: 512px;
  }

  .square {
    background-color: rgb(43, 226, 119);

    height: 8px;
    width: 8px;
  }
